.App {
  text-align: center;
}
.navbar {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: lightblue;
}
.navbar li{
  float: left;
  width:25%;
  text-decoration: none;
}
.navbar li:hover{
  background-color: blueviolet;
}
.navbar li a{
  padding:50%;
  text-decoration: none;
}
